<aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
    <div class="sidebar-brand">
        <a href="/admin" class="brand-link">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTo1lbzhLz35SGgIzMCaX5WmNzWjZ_m0kPpeg&s" alt="AdminLTE Logo" class="brand-image opacity-75 shadow" />
            <span class="brand-text fw-light">HaiOne Shop</span>
        </a>
    </div>
    <div class="sidebar-wrapper">
        <nav class="mt-2">
            <ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="menu" data-accordion="false">
                <li class="nav-item menu-open">
                    <a href="#" class="nav-link active">
                        <i class="nav-icon bi bi-bookmarks-fill"></i>
                        <p>
                            Categories
                            <span class="nav-badge badge text-bg-secondary me-3"><%= categories.length %></span>
                            <i class="nav-arrow bi bi-chevron-right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/admin/categories" class="nav-link active">
                                <i class="nav-icon bi bi-circle"></i>
                                <p>All Category</p>
                            </a>
                        </li>
                        <% categories.forEach(el => { %>
                        <li class="nav-item">
                            <a href="/admin/categories/<%= el.id %>" class="nav-link active">
                                <i class="nav-icon bi bi-circle"></i>
                                <p><%= el.name %></p>
                            </a>
                        </li>
                        <% }) %>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>