<section class="py-5">
    <div class="container py-5">
        <div data-reflow-type="product" data-bss-dynamic-product data-bss-dynamic-product-param="product" data-reflow-shoppingcart-url="shopping-cart.html">
            <div class="reflow-product">
                <div class="ref-media">
                    <div class="ref-preview">
                        <div class="ref-image active" data-reflow-preview-type="image" style="background-image: url('https://cdn.bootstrapstudio.io/products/product-30_lg.jpg');"></div>
                    </div>
                    <div class="ref-promo-badge">SALE</div>
                </div>
                <div class="ref-product-data">
                    <h2 class="ref-name">Piggy Bank</h2>
                    <div class="ref-categories"><span class="ref-category">Toys</span></div><strong class="ref-price ref-on-sale"><s class="ref-original-price">$100.00</s>$13.43</strong><span data-reflow-type="add-to-cart" data-reflow-shoppingcart-url="shopping-cart.html" data-reflow-addtocart-text data-reflow-product="717978921" data-reflow-variant="199976733_s">
                        <div class="reflow-add-to-cart ref-product-controls">
                            <div class="ref-variant"><label><span>Size</span><select class="ref-form-control ref-field-variants" name="variant-state" required>
                                        <option value="199976733_s">S</option>
                                        <option value="199976733_m">M</option>
                                        <option value="199976733_l">L</option>
                                    </select></label></div><span data-reflow-variant="199976733_s" data-reflow-product="717978921" data-reflow-max-qty="999" data-reflow-quantity="1">
                                <div class="ref-quantity-widget">
                                    <div class="ref-decrease"><span></span></div><input type="text" value="1" />
                                    <div class="ref-increase"><span></span></div>
                                </div>
                            </span><a class="ref-button" href="#">Add to Cart</a>
                        </div>
                    </span>
                    <div class="ref-description">Veritatis laboriosam <b>sed</b> autem.</div>
                </div>
            </div>
        </div>
    </div>
</section>