<section class="py-5">
    <div class="container py-5">
        <div class="row mb-4 mb-lg-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2 class="fw-bold">Products</h2>
                <p class="text-muted">No matter the project, our team can handle it. </p>
            </div>
        </div>
        <div class="row mx-auto">
            <div class="col">
                <div data-reflow-type="product-list" data-reflow-layout="cards" data-reflow-order="date_desc" data-reflow-product-link="/product.html?product={id}">
                    <div class="reflow-product-list ref-cards">
                        <div class="ref-products"><a class="ref-product" href="/product.html?product=717978921" data-product-id="717978921">
                                <div class="ref-media"><img class="ref-image" loading="lazy" src="https://cdn.bootstrapstudio.io/products/product-30_md.jpg" />
                                    <div class="ref-promo-badge">SALE</div>
                                </div>
                                <div class="ref-product-data">
                                    <div class="ref-product-info">
                                        <h5 class="ref-name">Piggy Bank</h5>
                                        <p class="ref-excerpt">Veritatis laboriosam sed autem.</p>
                                    </div><strong class="ref-price ref-on-sale"><s class="ref-original-price">$100.00</s>$13.43</strong>
                                </div>
                                <div class="ref-addons"><a class="ref-button preview-toggle product-list-add-to-cart" href="#">Add to Cart</a></div>
                            </a><a class="ref-product" href="/product.html?product=505747444" data-product-id="505747444">
                                <div class="ref-media"><img class="ref-image" loading="lazy" src="https://cdn.bootstrapstudio.io/products/product-29_md.jpg" /></div>
                                <div class="ref-product-data">
                                    <div class="ref-product-info">
                                        <h5 class="ref-name">Smart Watch</h5>
                                        <p class="ref-excerpt">Et perferendis ab laboriosam est eveniet quia.</p>
                                    </div><strong class="ref-price">$31.17</strong>
                                </div>
                                <div class="ref-addons"><a class="ref-button preview-toggle product-list-add-to-cart" href="#">Add to Cart</a></div>
                            </a><a class="ref-product" href="/product.html?product=326414015" data-product-id="326414015">
                                <div class="ref-media"><img class="ref-image" loading="lazy" src="https://cdn.bootstrapstudio.io/products/product-28_md.jpg" /></div>
                                <div class="ref-product-data">
                                    <div class="ref-product-info">
                                        <h5 class="ref-name">Sneakers</h5>
                                        <p class="ref-excerpt">Aut nihil corrupti voluptatem sed et consequuntur provident.</p>
                                    </div><strong class="ref-price">$6.07</strong>
                                </div>
                                <div class="ref-addons"><a class="ref-button preview-toggle product-list-add-to-cart" href="#">Add to Cart</a></div>
                            </a><a class="ref-product" href="/product.html?product=138824058" data-product-id="138824058">
                                <div class="ref-media"><img class="ref-image" loading="lazy" src="https://cdn.bootstrapstudio.io/products/product-27_md.jpg" /></div>
                                <div class="ref-product-data">
                                    <div class="ref-product-info">
                                        <h5 class="ref-name">Vintage Camera</h5>
                                        <p class="ref-excerpt">Consequatur eaque est id ea ipsam blanditiis.</p>
                                    </div><strong class="ref-price">$13.34</strong>
                                </div>
                                <div class="ref-addons"><a class="ref-button preview-toggle product-list-add-to-cart" href="#">Add to Cart</a></div>
                            </a><a class="ref-product" href="/product.html?product=2106712069" data-product-id="2106712069">
                                <div class="ref-media"><img class="ref-image" loading="lazy" src="https://cdn.bootstrapstudio.io/products/product-26_md.jpg" /></div>
                                <div class="ref-product-data">
                                    <div class="ref-product-info">
                                        <h5 class="ref-name">Tea Cup</h5>
                                        <p class="ref-excerpt">Fuga dolores voluptatum perspiciatis voluptatibus iste minus est.</p>
                                    </div><strong class="ref-price">$19.25</strong>
                                </div>
                                <div class="ref-addons"><a class="ref-button preview-toggle product-list-add-to-cart" href="#">Add to Cart</a></div>
                            </a><a class="ref-product" href="/product.html?product=1927510720" data-product-id="1927510720">
                                <div class="ref-media"><img class="ref-image" loading="lazy" src="https://cdn.bootstrapstudio.io/products/product-25_md.jpg" /></div>
                                <div class="ref-product-data">
                                    <div class="ref-product-info">
                                        <h5 class="ref-name">Game Boy</h5>
                                        <p class="ref-excerpt">Ut eum explicabo saepe iusto aut.</p>
                                    </div><strong class="ref-price">$5.41</strong>
                                </div>
                                <div class="ref-addons"><a class="ref-button preview-toggle product-list-add-to-cart" href="#">Add to Cart</a></div>
                            </a><a class="ref-product" href="/product.html?product=1715279243" data-product-id="1715279243">
                                <div class="ref-media"><img class="ref-image" loading="lazy" src="https://cdn.bootstrapstudio.io/products/product-24_md.jpg" /></div>
                                <div class="ref-product-data">
                                    <div class="ref-product-info">
                                        <h5 class="ref-name">Cruiser</h5>
                                        <p class="ref-excerpt">Inventore molestias laudantium enim provident quisquam molestiae.</p>
                                    </div><strong class="ref-price">$32.08</strong>
                                </div>
                                <div class="ref-addons"><a class="ref-button preview-toggle product-list-add-to-cart" href="#">Add to Cart</a></div>
                            </a><a class="ref-product" href="/product.html?product=1527557206" data-product-id="1527557206">
                                <div class="ref-media"><img class="ref-image" loading="lazy" src="https://cdn.bootstrapstudio.io/products/product-23_md.jpg" /></div>
                                <div class="ref-product-data">
                                    <div class="ref-product-info">
                                        <h5 class="ref-name">Controller</h5>
                                        <p class="ref-excerpt">Beatae tempora sequi dolores asperiores.</p>
                                    </div><strong class="ref-price">$9.31</strong>
                                </div>
                                <div class="ref-addons"><a class="ref-button preview-toggle product-list-add-to-cart" href="#">Add to Cart</a></div>
                            </a><a class="ref-product" href="/product.html?product=1348355857" data-product-id="1348355857">
                                <div class="ref-media"><img class="ref-image" loading="lazy" src="https://cdn.bootstrapstudio.io/products/product-22_md.jpg" /></div>
                                <div class="ref-product-data">
                                    <div class="ref-product-info">
                                        <h5 class="ref-name">Vintage Phone</h5>
                                        <p class="ref-excerpt">Perferendis ut dolores non quaerat est voluptatibus officia.</p>
                                    </div><strong class="ref-price">$16.31</strong>
                                </div>
                                <div class="ref-addons"><a class="ref-button preview-toggle product-list-add-to-cart" href="#">Add to Cart</a></div>
                            </a><a class="ref-product" href="/product.html?product=1168761308" data-product-id="1168761308">
                                <div class="ref-media"><img class="ref-image" loading="lazy" src="https://cdn.bootstrapstudio.io/products/product-21_md.jpg" /></div>
                                <div class="ref-product-data">
                                    <div class="ref-product-info">
                                        <h5 class="ref-name">Vintage Clock</h5>
                                        <p class="ref-excerpt">Saepe ut aut qui nisi dolorem et sit.</p>
                                    </div><strong class="ref-price">$12.19</strong>
                                </div>
                                <div class="ref-addons"><a class="ref-button preview-toggle product-list-add-to-cart" href="#">Add to Cart</a></div>
                            </a><a class="ref-product" href="/product.html?product=989559015" data-product-id="989559015">
                                <div class="ref-media"><img class="ref-image" loading="lazy" src="https://cdn.bootstrapstudio.io/products/product-20_md.jpg" /></div>
                                <div class="ref-product-data">
                                    <div class="ref-product-info">
                                        <h5 class="ref-name">Notepad</h5>
                                        <p class="ref-excerpt">Tempora est explicabo esse magni consequatur id.</p>
                                    </div><strong class="ref-price">$38.25</strong>
                                </div>
                                <div class="ref-addons"><a class="ref-button preview-toggle product-list-add-to-cart" href="#">Add to Cart</a></div>
                            </a><a class="ref-product" href="/product.html?product=802493346" data-product-id="802493346">
                                <div class="ref-media"><img class="ref-image" loading="lazy" src="https://cdn.bootstrapstudio.io/products/product-19_md.jpg" /></div>
                                <div class="ref-product-data">
                                    <div class="ref-product-info">
                                        <h5 class="ref-name">Cup</h5>
                                        <p class="ref-excerpt">Architecto ex nihil sit consequatur numquam.</p>
                                    </div><strong class="ref-price">$12.20</strong>
                                </div>
                                <div class="ref-addons"><a class="ref-button preview-toggle product-list-add-to-cart" href="#">Add to Cart</a></div>
                            </a><a class="ref-product" href="/product.html?product=589605485" data-product-id="589605485">
                                <div class="ref-media"><img class="ref-image" loading="lazy" src="https://cdn.bootstrapstudio.io/products/product-18_md.jpg" /></div>
                                <div class="ref-product-data">
                                    <div class="ref-product-info">
                                        <h5 class="ref-name">Reusable Cup</h5>
                                        <p class="ref-excerpt">Ut consequatur impedit sit.</p>
                                    </div><strong class="ref-price">$42.05</strong>
                                </div>
                                <div class="ref-addons"><a class="ref-button preview-toggle product-list-add-to-cart" href="#">Add to Cart</a></div>
                            </a><a class="ref-product" href="/product.html?product=410404136" data-product-id="410404136">
                                <div class="ref-media"><img class="ref-image" loading="lazy" src="https://cdn.bootstrapstudio.io/products/product-17_md.jpg" /></div>
                                <div class="ref-product-data">
                                    <div class="ref-product-info">
                                        <h5 class="ref-name">Ambulance Toy</h5>
                                        <p class="ref-excerpt">Nisi ut provident totam consectetur provident voluptatum repellendus architecto.</p>
                                    </div><strong class="ref-price">$13.77</strong>
                                </div>
                                <div class="ref-addons"><a class="ref-button preview-toggle product-list-add-to-cart" href="#">Add to Cart</a></div>
                            </a><a class="ref-product" href="/product.html?product=222420979" data-product-id="222420979">
                                <div class="ref-media"><img class="ref-image" loading="lazy" src="https://cdn.bootstrapstudio.io/products/product-16_md.jpg" /></div>
                                <div class="ref-product-data">
                                    <div class="ref-product-info">
                                        <h5 class="ref-name">Sunglasses</h5>
                                        <p class="ref-excerpt">Similique rerum natus sapiente nam.</p>
                                    </div><strong class="ref-price">$45.16</strong>
                                </div>
                                <div class="ref-addons"><a class="ref-button preview-toggle product-list-add-to-cart" href="#">Add to Cart</a></div>
                            </a><a class="ref-product" href="/product.html?product=43218622" data-product-id="43218622">
                                <div class="ref-media"><img class="ref-image" loading="lazy" src="https://cdn.bootstrapstudio.io/products/product-15_md.jpg" />
                                    <div class="ref-promo-badge">SALE</div>
                                </div>
                                <div class="ref-product-data">
                                    <div class="ref-product-info">
                                        <h5 class="ref-name">Radio</h5>
                                        <p class="ref-excerpt">Facere harum perferendis molestiae dignissimos consequatur culpa adipisci.</p>
                                    </div><strong class="ref-price ref-on-sale"><s class="ref-original-price">$100.00</s>$21.67</strong>
                                </div>
                                <div class="ref-addons"><a class="ref-button preview-toggle product-list-add-to-cart" href="#">Add to Cart</a></div>
                            </a><a class="ref-product" href="/product.html?product=2012025209" data-product-id="2012025209">
                                <div class="ref-media"><img class="ref-image" loading="lazy" src="https://cdn.bootstrapstudio.io/products/product-14_md.jpg" /></div>
                                <div class="ref-product-data">
                                    <div class="ref-product-info">
                                        <h5 class="ref-name">Oxford Shoes</h5>
                                        <p class="ref-excerpt">Tempore qui debitis doloremque ut at.</p>
                                    </div><strong class="ref-price">$26.57</strong>
                                </div>
                                <div class="ref-addons"><a class="ref-button preview-toggle product-list-add-to-cart" href="#">Add to Cart</a></div>
                            </a><a class="ref-product" href="/product.html?product=1799137284" data-product-id="1799137284">
                                <div class="ref-media"><img class="ref-image" loading="lazy" src="https://cdn.bootstrapstudio.io/products/product-13_md.jpg" /></div>
                                <div class="ref-product-data">
                                    <div class="ref-product-info">
                                        <h5 class="ref-name">Clock</h5>
                                        <p class="ref-excerpt">Neque corporis voluptatibus omnis quidem voluptatem labore.</p>
                                    </div><strong class="ref-price">$5.28</strong>
                                </div>
                                <div class="ref-addons"><a class="ref-button preview-toggle product-list-add-to-cart" href="#">Add to Cart</a></div>
                            </a><a class="ref-product" href="/product.html?product=1611547343" data-product-id="1611547343">
                                <div class="ref-media"><img class="ref-image" loading="lazy" src="https://cdn.bootstrapstudio.io/products/product-12_md.jpg" /></div>
                                <div class="ref-product-data">
                                    <div class="ref-product-info">
                                        <h5 class="ref-name">Headphones</h5>
                                        <p class="ref-excerpt">Esse ea consequatur ea nihil possimus beatae quo ut.</p>
                                    </div><strong class="ref-price">$33.72</strong>
                                </div>
                                <div class="ref-addons"><a class="ref-button preview-toggle product-list-add-to-cart" href="#">Add to Cart</a></div>
                            </a><a class="ref-product" href="/product.html?product=1431952778" data-product-id="1431952778">
                                <div class="ref-media"><img class="ref-image" loading="lazy" src="https://cdn.bootstrapstudio.io/products/product-11_md.jpg" /></div>
                                <div class="ref-product-data">
                                    <div class="ref-product-info">
                                        <h5 class="ref-name">Earrings</h5>
                                        <p class="ref-excerpt">Soluta rem praesentium aut voluptatem sint.</p>
                                    </div><strong class="ref-price">$16.95</strong>
                                </div>
                                <div class="ref-addons"><a class="ref-button preview-toggle product-list-add-to-cart" href="#">Add to Cart</a></div>
                            </a></div>
                        <div class="ref-product-preview">
                            <div class="ref-product-preview-header">
                                <div class="ref-title"></div>
                                <div class="ref-close-button">×</div>
                            </div>
                            <div class="ref-product-preview-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>